.root {
  height: 100vh;
  padding: 2rem;
  --color-background-main: rgb(247, 247, 247);

  background-color: var(--color-background-main);

  font-size: 1.6rem;
}

.title {
  text-align: center;
}

.content {
  padding: 2rem;
  margin: 2rem;
}
